

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.notification {
    width: 48px;
    margin: 100px auto;

    animation: ring 4s 0.7s ease-in-out infinite;
}

.notification .count {
    --size: 30px;
    font-size: 12px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: solid 2px white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    max-width: var(--size);
    max-height: var(--size);
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    top: 20px;
    left: 20px;
};

@keyframes ring {
    0%{
        transform: rotate(0deg);
    }
    1%{
        transform: rotate(30deg);
    }


}